@charset "UTF-8";
:root {
  --fc-button-bg-color: #184B6F;
  --fc-button-hover-bg-color: #151B45;
  --fc-button-active-bg-color: #151B45;
  --fc-button-active-border-color: #151B45;
  --fc-button-hover-border-color: none;
  --fc-button-border-color: none;
  --fc-today-bg-color:#f375211f;
  --fc-event-bg-color: #F37521;
  --fc-button-font-family: $font-spectral;
}

* {
  font-family: "staatliches", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fc-event-title, .fc-event-time {
  font-family: "Spectral", serif;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.fc-toolbar-title {
  letter-spacing: 1px;
}

.header {
  max-width: 100%;
  padding: 1rem;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
}
.header-image {
  width: 50%;
  display: flex;
  align-items: center;
}
.header-image-logo {
  height: 100%;
}
.header-image-logo img {
  height: 100%;
}
.header-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.header-nav ul:hover a:not(:hover) {
  opacity: 0.4;
  color: #184B6F;
  transition: 0.3s ease-in-out;
}
.header-nav ul a {
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}
.header-nav ul a::after {
  content: "";
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  background-color: #184B6F;
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: 0.2s ease-in-out;
}
.header-nav ul a:hover {
  color: #184B6F;
  transition: 0.2s ease-in-out;
}
.header-nav ul a:hover::after {
  transition: 0.2s ease-in-out;
  transform-origin: center;
  transform: scaleX(1);
  width: 100%;
}
.header-nav ul li {
  list-style-type: none;
}

.menu-toggle {
  display: none;
  transform: translate(0%, -50%);
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  z-index: 999;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #000;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  background: #fff;
  transform: rotate(45deg);
}

.open .hamburger::before {
  background: #fff;
  opacity: 0;
}

.open .hamburger::after {
  background: #fff;
  transform: translateY(-3px) rotate(-90deg);
}

.menu {
  display: none;
}

.gallery {
  padding: 4rem 0;
}
.gallery-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Maakt een dynamisch grid */
  gap: 1rem;
  /* Voegt ruimte tussen de afbeeldingen toe */
  max-width: 60%;
  /* Beperkt de maximale breedte van de galerij */
  margin: 0 auto;
  /* Centreert de galerij op de pagina */
  justify-content: center;
  align-items: center;
}
.gallery-image {
  overflow: hidden;
  /* Verbergt overloop van afbeeldingen */
}
.gallery-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  text-align: center;
  overflow: auto;
}
.lightbox img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.lightbox .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.lightbox .close:hover {
  color: #bbb;
  text-decoration: none;
}
.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.lightbox .prev {
  left: 10%;
}
.lightbox .next {
  right: 10%;
}

.no-scroll {
  overflow: hidden;
}

.footer {
  box-shadow: 0 -5px 0 #F37521, 0 0 15px #000;
  align-items: center;
  justify-content: flex-start;
  height: 12rem;
  display: flex;
}
.footer-main {
  margin: 2rem;
  height: 65%;
}
.footer-head {
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.footer-text {
  margin-top: 0.5rem;
  font-family: "Spectral", serif;
  font-weight: 500;
  color: #184B6F;
}
.footer-mail {
  color: #F37521;
  text-decoration: none;
}
.footer-mail-text {
  margin-top: 0.5rem;
  font-family: "Spectral", serif;
  font-weight: 400;
}
.footer-nav {
  margin: 2rem;
  height: 65%;
}
.footer-nav-head {
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.footer-nav-link {
  text-decoration: none;
  color: #F37521;
}
.footer-nav-link-text {
  margin-top: 0.5rem;
  font-family: "Spectral", serif;
  font-weight: 400;
}
.footer-socials {
  height: 65%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-socials a {
  text-decoration: none;
}
.footer-socials-icon {
  color: #fff;
  transition: 0.2s ease-in-out;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: lightgray;
}
.footer-socials-icon:hover {
  background-color: #F37521;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.kalender {
  margin: 0 auto;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
}
.kalender-container {
  width: 100%;
  height: 85vh;
}

.main {
  height: 90vh;
  max-width: 100%;
  display: flex;
}
.main-text {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #151B45;
  width: 50%;
}
.main-text-head {
  margin: 0.5rem 0;
  letter-spacing: 1px;
  font-size: 3rem;
}
.main-text .kapoenencolor {
  color: rgb(255, 223, 83);
}
.main-text .welpencolor {
  color: green;
}
.main-text .jonggiverscolor {
  color: orange;
}
.main-text .giverscolor {
  color: rgb(0, 0, 197);
}
.main-text .jinscolor {
  color: rgb(182, 0, 0);
}
.main-text .leidingcolor {
  color: purple;
}
.main-text-para {
  width: 75%;
  color: black;
  font-family: "Spectral", serif;
  line-height: 2rem;
  text-align: justify;
}
.main-text-para span {
  font-family: "Spectral", serif;
  color: #F37521;
  letter-spacing: 1px;
}
.main-text-leiding {
  margin: 1rem 0;
}
.main-text-prim {
  color: #151B45;
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 4rem;
  font-variant: all-small-caps;
}
.main-text-prim span {
  font-variant: normal;
  color: #F37521;
}
.main-text-sec {
  display: inline-block;
  line-height: 4rem;
  letter-spacing: 1px;
  font-size: 5rem;
}
.main-text-par {
  margin-top: 1rem;
}
.main-text-par-paratext {
  text-align: justify;
}
.main-text-par p {
  margin: 0.5rem 0;
  font-family: "Spectral", serif;
}
.main-text-par p a {
  text-decoration: none;
  font-family: "Spectral", serif;
  color: #F37521;
}
.main-image {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.main-image img {
  border-radius: 10px;
  max-width: 800px;
  aspect-ratio: 1.5555555556;
  object-fit: cover;
  box-shadow: 0 0 25px #000;
}
.main-image-kapoenen {
  outline: 7px solid rgb(255, 223, 83);
  box-shadow: 0 0 50px rgb(255, 223, 83);
}
.main-image-welpen {
  outline: 7px solid green;
}
.main-image-jonggivers {
  outline: 7px solid orange;
}
.main-image-givers {
  outline: 7px solid rgb(0, 0, 197);
}
.main-image-jins {
  outline: 7px solid rgb(182, 0, 0);
}
.main-image-leiding {
  outline: 7px solid purple;
}

.section {
  height: 90vh;
  width: 100%;
}
.section-logocontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}
.section-logocontainer-logo {
  width: 20%;
}
.section-wrap {
  height: 80%;
  display: flex;
}
.section-wrap-imgcontainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-wrap-imgcontainer img {
  border-radius: 10px;
  max-width: 800px;
  aspect-ratio: 1.5555555556;
  object-fit: cover;
  box-shadow: 0 0 25px #000;
}
.section-wrap-textcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.section-wrap-textcontainer-text {
  padding: 1rem;
  width: 90%;
  text-align: justify;
  font-family: "Spectral", serif;
}
.section-small {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-small-smallhead {
  font-family: "Spectral", serif;
  font-variant: all-petite-caps;
  font-weight: 900;
  letter-spacing: 5px;
  color: #F37521;
}
.section-scroll {
  margin: 1rem 0 0.5rem;
  color: #F37521;
  display: none;
  text-align: center;
}
.section-event {
  width: 100%;
}
.section-event-info {
  display: flex;
  height: 90vh;
}
.section-event .right {
  display: flex;
  flex-direction: row-reverse;
}
.section-upcoming {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-upcoming-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-upcoming-header-head {
  font-size: 5rem;
  letter-spacing: 4px;
  color: #151B45;
}
.section-upcoming-text {
  padding: 0 6rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-upcoming-text-para {
  font-family: "Spectral", serif;
  text-align: justify;
}
.section-upcoming-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.section-upcoming-image img {
  border-radius: 10px;
  max-width: 800px;
  aspect-ratio: 1.5555555556;
  object-fit: cover;
  box-shadow: 0 0 25px #000;
}
.section-upcoming > .section-event:nth-child(1) .section-event-info {
  height: 70vh;
}
.section-other {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-other-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-other-header-head {
  font-size: 5rem;
  letter-spacing: 4px;
  color: #151B45;
}
.section-other-text {
  padding: 12rem;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-other-text-para {
  font-family: "Spectral", serif;
  text-align: justify;
}
.section-other-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 90vh;
}
.section-other-image img {
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 0 25px #000;
}

.events {
  height: auto;
}

.takwerking {
  padding: 5rem 10rem;
  display: flex;
  align-items: center;
  height: 90vh;
}
.takwerking-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.takwerking-text-head {
  color: #151B45;
  letter-spacing: 1px;
  font-size: 3rem;
}
.takwerking-text-para {
  width: 85%;
}
.takwerking-text-para p {
  margin: 1rem 0;
  font-family: "Spectral", serif;
  line-height: 2rem;
  text-align: justify;
}
.takwerking-text-para p a {
  font-family: "Spectral", serif;
  color: #F37521;
  text-decoration: none;
}
.takwerking-text-para p span {
  font-weight: 900;
  font-family: "Spectral", serif;
  font-variant-caps: all-small-caps;
  font-size: 1.5rem;
  color: #151B45;
}
.takwerking-imggrid {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.takwerking-imggrid-container {
  display: grid;
  gap: 1.2rem 1.4rem;
  grid-template-columns: repeat(2, 1fr);
}
.takwerking-imggrid-container-img {
  position: relative;
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9rem;
  transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.takwerking-imggrid-container-img h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #151B45;
  font-size: 1.75rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  line-height: 2rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.takwerking-imggrid-container-img:hover {
  transform: scale(1.2);
  transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.takwerking-imggrid-container-img:hover h1 {
  transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  opacity: 1;
}

.kapoenen {
  background-image: url("../assets/Kapoenen.png");
}

.welpen {
  background-image: url("../assets/Welpen.png");
}

.jonggivers {
  background-image: url("../assets/Jong givers.png");
}

.givers {
  background-image: url("../assets/givers.png");
  background-size: 8rem;
}

.jins {
  background-image: url("../assets/Jins.png");
}

.leiding {
  background-image: url("../assets/Leiding.png");
}

.events {
  width: 100%;
}
.events-small {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-small-smallhead {
  font-family: "Spectral", serif;
  font-variant: all-petite-caps;
  font-weight: 900;
  letter-spacing: 5px;
  color: #F37521;
}
.events-event {
  width: 100%;
}
.events-event-info {
  display: flex;
}
.events-event-inforight {
  display: flex;
  flex-direction: row-reverse;
}
.events-upcoming {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.events-upcoming-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-upcoming-header-head {
  font-size: 5rem;
  letter-spacing: 4px;
  color: #151B45;
}
.events-upcoming-text {
  padding: 12rem;
  width: 50%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-upcoming-text-para {
  font-family: "Spectral", serif;
  text-align: justify;
}
.events-upcoming-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 80vh;
}
.events-upcoming-image img {
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 0 25px #000;
}
.events-other {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.events-other-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-other-header-head {
  font-size: 5rem;
  letter-spacing: 4px;
  color: #151B45;
}
.events-other-text {
  padding: 12rem;
  width: 45%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-other-text-para {
  font-family: "Spectral", serif;
  text-align: justify;
}
.events-other-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 90vh;
}
.events-other-image img {
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 0 25px #000;
}

.formulier {
  height: 90vh;
  width: 60%;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto;
}
.formulier-head {
  color: #151B45;
  font-size: 3rem;
}
.formulier-form {
  width: 40%;
}
.formulier-form label {
  font-size: 1.2rem;
  color: #184B6F;
  letter-spacing: 1px;
}
.formulier-form .lightlabel {
  font-size: 1rem;
  font-family: "Spectral", serif;
}
.formulier-form-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.formulier-form-item input {
  font-family: "Spectral", serif;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.formulier-form-item input:focus {
  border-color: #F37521;
}
.formulier-form-item .contactgegevens {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formulier-form-item .contactgegevens-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0;
}
.formulier-form-item .contactgegevens-item label {
  font-family: "Spectral", serif;
}
.formulier-form-item .contactgegevens-item input {
  width: 100%;
}
.formulier-form .geboortedatum {
  flex-direction: column;
}
.formulier-form .geboortedatum .datum {
  display: flex;
  justify-content: space-between;
}
.formulier-form .geboortedatum .datum-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.formulier-form .geboortedatum .datum-item label {
  font-family: "Spectral", serif;
}
.formulier-form .geboortedatum input {
  width: 100%;
  text-align: center;
  padding: 0;
}
.formulier-form .woonplaats {
  display: flex;
  flex-direction: column;
}
.formulier-form .woonplaats-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0;
}
.formulier-form .woonplaats-item-last {
  display: flex;
  justify-content: space-between;
}
.formulier-form .woonplaats-item-last-nrgm {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.formulier-form .woonplaats-item-last-nrgm input {
  width: 100%;
}
.formulier-form .social label {
  font-size: 1.15rem;
}
.formulier-form .social-answers {
  display: flex;
}
.formulier-form .social-answers select {
  width: 100%;
  font-family: "Spectral", serif;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.formulier-form .social-answers-answer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0;
}
.formulier-form .social-answers-answer:hover input ~ .checkmark {
  background-color: #ccc;
}
.formulier-form .social-answers-answer label {
  margin: 0 0.5rem;
  font-size: 1.75rem;
  font-variant: all-small-caps;
}
.formulier-form .social-answers-answer input {
  position: absolute;
  opacity: 0;
  width: 1.3rem;
  cursor: pointer;
}
.formulier-form .social-answers-answer input:checked ~ .checkmark {
  background-color: #184B6F;
}
.formulier-form .social-answers-answer input:checked ~ .checkmark::before {
  content: "✖";
  color: #fff;
  font-size: 1.2rem;
}
.formulier-form .social-answers-answer .checkmark {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulier-form button {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #F37521;
  border: none;
  transition: all 0.3s;
}
.formulier-form button:hover {
  background-color: rgba(243, 117, 33, 0.5);
  color: #000;
  transform: scale(0.98);
  transition: all 0.3s;
}

.verhuur {
  padding: 5rem 10rem;
  display: flex;
  align-items: center;
  height: 90vh;
}
.verhuur-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.verhuur-text-head {
  color: #151B45;
  letter-spacing: 1px;
  font-size: 3rem;
}
.verhuur-text-para-verhuur {
  margin-bottom: 1.5rem;
}
.verhuur-text-para p {
  margin: 1rem 0;
  font-family: "Spectral", serif;
  line-height: 2rem;
  text-align: justify;
}
.verhuur-text-para p a {
  font-family: "Spectral", serif;
  color: #F37521;
  text-decoration: none;
}
.verhuur-text-para p span {
  font-weight: 900;
  font-family: "Spectral", serif;
  font-variant-caps: all-small-caps;
  font-size: 1.5rem;
  color: #151B45;
}
.verhuur-imggrid {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verhuur-imggrid-container {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(2, 1fr);
}
.verhuur-imggrid-container-img {
  width: 100%;
  height: auto;
  transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.verhuur-imggrid-container-img img {
  vertical-align: bottom;
  width: 18rem;
  height: auto;
}
.verhuur-imggrid-container-img:hover {
  transform: scale(1.1);
  transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.verhuur-imggrid-container-img:hover h1 {
  transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  opacity: 1;
}

.faq-container {
  min-height: 90vh;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.faq-item.dimmed .question {
  transition: all 0.2s ease-in-out;
  background-color: rgba(243, 117, 33, 0.6);
}
.faq-item.active {
  height: auto;
}
.faq-item.active .question {
  background-color: rgba(24, 75, 111, 0.8);
}
.faq-item.active .answer {
  display: block;
}

.question {
  font-size: 1.2rem;
  padding: 15px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background-color: rgba(243, 117, 33, 0.8);
  cursor: pointer;
}

.answer {
  font-family: "Spectral", serif;
  color: #184B6F;
  padding: 15px;
  display: none;
}

@media screen and (max-width: 1366px) {
  .main-image img {
    border-radius: 10px;
    max-width: 400px;
    aspect-ratio: 0.75;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .main-text-prim {
    line-height: 3.5rem;
  }
  .main-text-sec {
    line-height: 3.5rem;
    font-size: 4rem;
  }
  .section-wrap-imgcontainer img {
    border-radius: 10px;
    max-width: 400px;
    aspect-ratio: 0.75;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .takwerking {
    padding: 2.5rem 5rem;
    flex-direction: column;
  }
  .takwerking-text {
    width: 100%;
    height: 80%;
  }
  .takwerking-text-para {
    width: 100%;
  }
  .takwerking-imggrid {
    width: 100%;
    height: 20%;
  }
  .takwerking-imggrid-container {
    grid-template-columns: repeat(6, 1fr);
  }
  .takwerking-imggrid-container-img {
    width: 6rem;
    height: 6rem;
    background-size: 4.5rem;
  }
  .takwerking .givers {
    background-size: 4rem;
  }
  .formulier {
    width: 60%;
    flex-direction: column;
    align-items: center;
    margin: 0rem auto;
  }
  .formulier-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .formulier-form-item {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
  }
  .verhuur {
    padding: 2.5rem 5rem;
  }
  .verhuur-imggrid {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .verhuur-imggrid-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 10rem;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .verhuur-imggrid-container-img img {
    width: 20rem;
    height: 100%;
  }
  .lightbox img {
    max-width: 70%;
    max-height: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 1rem 2rem;
  }
  .header-nav ul {
    display: none;
  }
  .header-image-logo img {
    width: 70%;
  }
  .faq-container {
    max-width: 80%;
  }
  .menu {
    width: 100%;
    height: 0;
    /* Start met een hoogte van 0 */
    display: flex;
    justify-content: flex-end;
    position: absolute;
    overflow: hidden;
    /* Zorg ervoor dat de inhoud wordt verborgen wanneer de hoogte 0 is */
    transition: height 0.5s ease-in-out;
    /* Voeg een overgang toe voor een soepele animatie */
  }
  .menu ul {
    transition: opacity 0.5s ease-in-out;
    z-index: 998;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .menu ul:hover a:not(:hover) {
    opacity: 1;
    color: #fff;
  }
  .menu ul a {
    letter-spacing: 1px;
    font-size: 2rem;
    height: auto;
    color: #fff;
  }
  .menu ul a:hover {
    color: inherit;
    /* of een andere passende kleur */
  }
  .menu ul a:hover::after {
    color: inherit;
    /* of een andere passende kleur */
    transition: none;
    transform: none;
    width: auto;
  }
  .menu.open {
    height: 100%;
    transition: height 0.5s ease-in-out;
    /* Wanneer de navigatie wordt geopend, stel de hoogte in op auto om alle inhoud weer te geven */
  }
  .backdrop {
    z-index: 998;
    transition: height 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
  }
  .backdrop.open {
    height: 100%;
    transition: height 0.5s ease-in-out;
  }
  .menu-toggle {
    display: block;
  }
  .main {
    flex-direction: column;
  }
  .main-text {
    width: 100%;
    padding: 0rem 6rem;
    height: 40%;
  }
  .main-image {
    width: 100%;
    height: 40%;
    padding: 0rem;
  }
  .main-image img {
    border-radius: 10px;
    max-width: 800px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-wrap {
    flex-direction: column;
  }
  .section-wrap-imgcontainer {
    width: 100%;
  }
  .section-wrap-imgcontainer img {
    border-radius: 10px;
    max-width: 800px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-wrap-textcontainer {
    padding: 6rem 0;
    width: 100%;
  }
  .section-logocontainer-logo {
    width: 40%;
  }
  .section-event-info {
    flex-direction: column;
  }
  .section-event .right {
    flex-direction: column;
  }
  .section-upcoming-text {
    margin: 0 auto;
    width: 80%;
    height: 20%;
  }
  .section-upcoming-image {
    width: 100%;
    height: 50%;
  }
  .section-upcoming-image img {
    border-radius: 10px;
    max-width: 800px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-upcoming > .section-event:nth-child(1) .section-event-info {
    height: 90vh;
  }
  .formulier {
    align-items: center;
    width: 70%;
  }
  .formulier-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .formulier-form-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .verhuur {
    flex-direction: column;
  }
  .verhuur-text {
    height: 35%;
    width: 100%;
  }
  .verhuur-imggrid {
    height: 60%;
    width: 100%;
  }
  .verhuur-imggrid-container {
    grid-template-columns: repeat(6, 1fr);
  }
  .verhuur-imggrid-container-img img {
    object-fit: cover;
    width: 30rem;
  }
  .gallery {
    padding: 4rem 0;
  }
  .gallery-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Maakt een dynamisch grid */
    gap: 1rem;
    /* Voegt ruimte tussen de afbeeldingen toe */
    max-width: 80%;
    /* Beperkt de maximale breedte van de galerij */
    margin: 0 auto;
    /* Centreert de galerij op de pagina */
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 820px) {
  .section-wrap {
    flex-direction: column;
  }
  .section-wrap-imgcontainer {
    width: 100%;
  }
  .section-wrap-imgcontainer img {
    border-radius: 10px;
    max-width: 600px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-logocontainer-logo {
    width: 60%;
  }
  .section-upcoming-text {
    margin: 0 auto;
    width: 90%;
    height: 30%;
  }
  .section-upcoming-image {
    width: 100%;
    height: 40%;
  }
  .section-upcoming-image img {
    border-radius: 10px;
    max-width: 600px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .main {
    flex-direction: column;
  }
  .main-text {
    width: 100%;
    padding: 0rem 6rem;
    height: 50%;
  }
  .main-image {
    width: 100%;
    height: 40%;
    padding: 0rem;
  }
  .main-image img {
    border-radius: 10px;
    max-width: 600px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
}
@media screen and (max-width: 430px) {
  .main {
    flex-direction: column;
  }
  .main-text {
    width: 100%;
    padding: 0rem 2rem;
    height: 60%;
  }
  .main-text-prim {
    line-height: 3rem;
  }
  .main-text-sec {
    line-height: 3rem;
    font-size: 2rem;
  }
  .main-text-par {
    margin-top: 0rem;
  }
  .main-text-leiding p {
    width: 100%;
  }
  .main-image {
    width: 100%;
    height: 40%;
    padding: 0rem;
  }
  .main-image img {
    border-radius: 10px;
    max-width: 350px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-wrap {
    flex-direction: column;
  }
  .section-wrap-imgcontainer {
    width: 100%;
    height: 50%;
  }
  .section-wrap-imgcontainer img {
    border-radius: 10px;
    max-width: 350px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-wrap-textcontainer {
    overflow-y: scroll;
    justify-content: flex-start;
    height: 50%;
    padding: 1rem 0;
  }
  .section-scroll {
    display: block;
    text-align: center;
  }
  .section-upcoming-text {
    padding: 1rem;
    width: 90%;
    height: 30%;
    overflow-y: scroll;
    align-items: flex-start;
  }
  .section-upcoming-header-head {
    font-size: 2rem;
    letter-spacing: 4px;
    color: #151B45;
  }
  .section-upcoming-image {
    width: 100%;
    height: 40%;
  }
  .section-upcoming-image img {
    border-radius: 10px;
    max-width: 350px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .fc-toolbar .fc-today-button,
  .fc-toolbar .fc-dayGridDay-button,
  .fc-toolbar .fc-list-button {
    display: none;
  }
  .fc-toolbar .fc-toolbar-title {
    font-size: 1rem;
  }
  .kalender-container {
    height: 70%;
    /* Pas deze hoogte aan zoals gewenst */
    overflow-y: auto;
    /* Voeg een verticale scroll toe als de kalender de hoogte overschrijdt */
  }
  .gallery {
    padding: 3rem 0;
  }
  .footer {
    height: auto;
    flex-wrap: wrap;
  }
  .takwerking {
    padding: 0rem 2rem;
  }
  .takwerking-text {
    padding: 0 1rem;
    width: 100%;
    height: 60%;
  }
  .takwerking-text-para {
    overflow-y: scroll;
  }
  .takwerking-imggrid {
    height: 30%;
    justify-content: center;
  }
  .takwerking-imggrid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  .takwerking-imggrid-container-img:hover {
    transform: inherit;
  }
  .formulier-head {
    font-size: 2rem;
  }
  .formulier-form {
    justify-content: flex-start;
    overflow-y: scroll;
  }
  .formulier-form-item {
    margin: 0.75rem 0;
  }
  .verhuur {
    padding: 0rem 2rem;
    height: auto;
  }
  .verhuur-text {
    justify-content: flex-start;
    padding: 0 1rem;
    width: 100%;
  }
  .verhuur-imggrid {
    display: none;
    height: 60%;
    width: 100%;
    margin-top: 1rem;
  }
  .verhuur-imggrid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .verhuur-imggrid-container-img img {
    object-fit: cover;
    width: 15rem;
  }
}
@media screen and (max-width: 390px) {
  .main {
    flex-direction: column;
  }
  .main-text {
    width: 100%;
    padding: 0rem 2rem;
    height: 100%;
  }
  .main-text-prim {
    line-height: 3rem;
  }
  .main-text-sec {
    line-height: 3rem;
    font-size: 2rem;
  }
  .main-image {
    display: none;
    width: 100%;
    height: 30%;
    padding: 0rem;
  }
  .main-image img {
    border-radius: 10px;
    max-width: 300px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-wrap-imgcontainer {
    width: 100%;
    height: 50%;
    padding: 0rem;
  }
  .section-wrap-imgcontainer img {
    border-radius: 10px;
    max-width: 300px;
    aspect-ratio: 1.5555555556;
    object-fit: cover;
    box-shadow: 0 0 25px #000;
  }
  .section-wrap-textcontainer {
    height: 50%;
  }
  .takwerking-text {
    height: 55%;
  }
  .takwerking-imggrid {
    height: 45%;
  }
  .formulier {
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2rem;
  }
  .formulier-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .formulier-form-item {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }
  .formulier-form-item label {
    font-size: 1rem;
  }
  .formulier-form-item .social label {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
