@charset "UTF-8";
:root {
  --fc-button-bg-color: #184B6F;
  --fc-button-hover-bg-color: #151B45;
  --fc-button-active-bg-color: #151B45;
  --fc-button-active-border-color: #151B45;
  --fc-button-hover-border-color: none;
  --fc-button-border-color: none;
  --fc-today-bg-color:#f375211f;
  --fc-event-bg-color: #F37521;
}

* {
  font-family: "staatliches", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100%;
  padding: 1rem;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}
.header-image {
  width: 50%;
  display: flex;
  align-items: center;
}
.header-image-logo {
  width: 15%;
  margin-left: 1.25rem;
}
.header-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav ul a {
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}
.header-nav ul a::after {
  content: "";
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  background-color: #184B6F;
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: 0.2s ease-in-out;
}
.header-nav ul a:hover {
  color: #184B6F;
  transition: 0.2s ease-in-out;
}
.header-nav ul a:hover::after {
  transition: 0.2s ease-in-out;
  transform-origin: center;
  transform: scaleX(1);
  width: 100%;
}
.header-nav ul li {
  list-style-type: none;
  margin: 1.25rem;
}

.gallery {
  height: 100vh;
}
.gallery-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Maakt een dynamisch grid */
  gap: 10px;
  /* Voegt ruimte tussen de afbeeldingen toe */
  max-width: 60%;
  /* Beperkt de maximale breedte van de galerij */
  margin: 0 auto;
  /* Centreert de galerij op de pagina */
  justify-content: center;
  align-items: center;
}
.gallery-image {
  overflow: hidden;
  /* Verbergt overloop van afbeeldingen */
}
.gallery-image img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  box-shadow: 0 -5px 0 #F37521, 0 0 15px #000;
  align-items: center;
  justify-content: flex-start;
  height: 20vh;
  display: flex;
}
.footer-main {
  margin: 2rem;
  height: 65%;
}
.footer-head {
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.footer-text {
  margin-top: 0.5rem;
  font-family: "Spectral", serif;
  font-weight: 500;
  color: #184B6F;
}
.footer-mail {
  color: #F37521;
  text-decoration: none;
}
.footer-mail-text {
  margin-top: 0.5rem;
  font-family: "Spectral", serif;
  font-weight: 400;
}
.footer-nav {
  margin: 2rem;
  height: 65%;
}
.footer-nav-head {
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.footer-nav-link {
  text-decoration: none;
  color: #F37521;
}
.footer-nav-link-text {
  margin-top: 0.5rem;
  font-family: "Spectral", serif;
  font-weight: 400;
}
.footer-socials {
  height: 65%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.footer-socials-icon {
  margin: 1rem;
  color: #184B6F;
}

.kalender {
  margin: 0 auto;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
}
.kalender-container {
  width: 100%;
  height: 85vh;
}

.main {
  height: 90vh;
  width: 100%;
  display: flex;
}
.main-text {
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #151B45;
  width: 40%;
  height: 100%;
}
.main-text-prim {
  color: #151B45;
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 4rem;
  font-variant: all-small-caps;
}
.main-text-prim span {
  font-variant: normal;
  color: #F37521;
}
.main-text-sec {
  display: inline-block;
  line-height: 4rem;
  letter-spacing: 1px;
  font-size: 5rem;
}
.main-text-par {
  margin-top: 1rem;
}
.main-text-par-paratext {
  text-align: justify;
}
.main-text-par p {
  margin: 0.5rem 0;
  font-family: "Spectral", serif;
}
.main-text-par p a {
  text-decoration: none;
  font-family: "Spectral", serif;
  color: #F37521;
}
.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.main-image img {
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 0 25px #000;
}
.main-image-kapoenen {
  outline: 7px solid rgb(255, 223, 83);
  box-shadow: 0 0 50px rgb(255, 223, 83);
}
.main-image-welpen {
  outline: 7px solid green;
}
.main-image-jonggivers {
  outline: 7px solid orange;
}
.main-image-givers {
  outline: 7px solid rgb(0, 0, 197);
}
.main-image-jins {
  outline: 7px solid rgb(182, 0, 0);
}
.main-image-leiding {
  outline: 7px solid purple;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-logocontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}
.section-logocontainer-logo {
  width: 20%;
}
.section-wrap {
  height: 80%;
  display: flex;
}
.section-wrap-imgcontainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-wrap-imgcontainer img {
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 0 25px #000;
}
.section-wrap-textcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.section-wrap-textcontainer-text {
  padding: 1rem;
  width: 80%;
  font-family: "Spectral", serif;
}

.takwerking {
  padding: 5rem 10rem;
  display: flex;
  align-items: center;
  height: 90vh;
}
.takwerking-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.takwerking-text-head {
  color: #151B45;
  letter-spacing: 1px;
  font-size: 3rem;
}
.takwerking-text-para-verhuur {
  margin-bottom: 1.5rem;
}
.takwerking-text-para p {
  margin: 1rem 0;
  font-family: "Spectral", serif;
  line-height: 2rem;
  text-align: justify;
}
.takwerking-text-para p a {
  font-family: "Spectral", serif;
  color: #F37521;
  text-decoration: none;
}
.takwerking-text-para p span {
  font-weight: 900;
  font-family: "Spectral", serif;
  font-variant-caps: all-small-caps;
  font-size: 1.5rem;
  color: #151B45;
}
.takwerking-imggrid {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.takwerking-imggrid-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.takwerking-imggrid-container-img {
  position: relative;
  width: 12rem;
  height: 12rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.takwerking-imggrid-container-img h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #151B45;
  font-size: 1.75rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 100%;
  letter-spacing: 2px;
  line-height: 2rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.takwerking-imggrid-container-img img {
  width: 50%;
}
.takwerking-imggrid-container-img:hover {
  transform: scale(1.2);
  transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}
.takwerking-imggrid-container-img:hover h1 {
  transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  opacity: 1;
}

.main-text {
  width: 40%;
  margin-left: 3rem;
}
.main-text-head {
  margin: 0.5rem 0;
  letter-spacing: 1px;
  font-size: 3rem;
}
.main-text .kapoenen {
  color: rgb(255, 223, 83);
}
.main-text .welpen {
  color: green;
}
.main-text .jonggivers {
  color: orange;
}
.main-text .givers {
  color: rgb(0, 0, 197);
}
.main-text .jins {
  color: rgb(182, 0, 0);
}
.main-text .leiding {
  color: purple;
}
.main-text-para {
  width: 70%;
  color: black;
  font-family: "Spectral", serif;
  line-height: 2rem;
  text-align: justify;
}
.main-text-para span {
  font-family: "Spectral", serif;
  color: #F37521;
  letter-spacing: 1px;
}
.main-text-leiding {
  margin: 1rem 0;
}

.events {
  width: 100%;
}
.events-small {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-small-smallhead {
  font-family: "Spectral", serif;
  font-variant: all-petite-caps;
  font-weight: 900;
  letter-spacing: 5px;
  color: #F37521;
}
.events-event {
  width: 100%;
}
.events-event-info {
  display: flex;
}
.events-event-inforight {
  display: flex;
  flex-direction: row-reverse;
}
.events-upcoming {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.events-upcoming-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-upcoming-header-head {
  font-size: 5rem;
  letter-spacing: 4px;
  color: #151B45;
}
.events-upcoming-text {
  padding: 12rem;
  width: 45%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-upcoming-text-para {
  font-family: "Spectral", serif;
  text-align: justify;
}
.events-upcoming-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 75vh;
}
.events-upcoming-image img {
  border-radius: 10px;
  width: 65%;
  box-shadow: 0 0 25px #000;
}
.events-other {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.events-other-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-other-header-head {
  font-size: 5rem;
  letter-spacing: 4px;
  color: #151B45;
}
.events-other-text {
  padding: 12rem;
  width: 45%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-other-text-para {
  font-family: "Spectral", serif;
  text-align: justify;
}
.events-other-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 90vh;
}
.events-other-image img {
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 0 25px #000;
}

.formulier {
  width: 60%;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto;
}
.formulier-head {
  color: #151B45;
  font-size: 3rem;
}
.formulier-form {
  width: 40%;
}
.formulier-form label {
  font-size: 1.2rem;
  color: #184B6F;
  letter-spacing: 1px;
}
.formulier-form .lightlabel {
  font-size: 1rem;
  font-family: "Spectral", serif;
}
.formulier-form-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.formulier-form-item input {
  font-family: "Spectral", serif;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.formulier-form-item input:focus {
  border-color: #F37521;
}
.formulier-form-item .contactgegevens {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formulier-form-item .contactgegevens-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0;
}
.formulier-form-item .contactgegevens-item label {
  font-family: "Spectral", serif;
}
.formulier-form-item .contactgegevens-item input {
  width: 100%;
}
.formulier-form .geboortedatum {
  flex-direction: column;
}
.formulier-form .geboortedatum .datum {
  display: flex;
  justify-content: space-between;
}
.formulier-form .geboortedatum .datum-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.formulier-form .geboortedatum .datum-item label {
  font-family: "Spectral", serif;
}
.formulier-form .geboortedatum input {
  width: 100%;
  text-align: center;
  padding: 0;
}
.formulier-form .woonplaats {
  display: flex;
  flex-direction: column;
}
.formulier-form .woonplaats-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0;
}
.formulier-form .woonplaats-item-last {
  display: flex;
  justify-content: space-between;
}
.formulier-form .woonplaats-item-last-nrgm {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.formulier-form .woonplaats-item-last-nrgm input {
  width: 100%;
}
.formulier-form .social label {
  font-size: 1.15rem;
}
.formulier-form .social-answers {
  display: flex;
}
.formulier-form .social-answers select {
  width: 100%;
  font-family: "Spectral", serif;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.formulier-form .social-answers-answer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0;
}
.formulier-form .social-answers-answer:hover input ~ .checkmark {
  background-color: #ccc;
}
.formulier-form .social-answers-answer label {
  margin: 0 0.5rem;
  font-size: 1.75rem;
  font-variant: all-small-caps;
}
.formulier-form .social-answers-answer input {
  position: absolute;
  opacity: 0;
  width: 1.3rem;
  cursor: pointer;
}
.formulier-form .social-answers-answer input:checked ~ .checkmark {
  background-color: #184B6F;
}
.formulier-form .social-answers-answer input:checked ~ .checkmark::before {
  content: "✖";
  color: #fff;
  font-size: 1.2rem;
}
.formulier-form .social-answers-answer .checkmark {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulier-form button {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #F37521;
  border: none;
  transition: all 0.3s;
}
.formulier-form button:hover {
  background-color: rgba(243, 117, 33, 0.5);
  color: #000;
  transform: scale(0.98);
  transition: all 0.3s;
}

.faq-container {
  min-height: 90vh;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.faq-item.dimmed .question {
  transition: all 0.2s ease-in-out;
  background-color: rgba(243, 117, 33, 0.6);
}
.faq-item.active {
  height: auto;
}
.faq-item.active .question {
  background-color: rgba(24, 75, 111, 0.8);
}
.faq-item.active .answer {
  display: block;
}

.question {
  font-size: 1.2rem;
  padding: 15px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background-color: rgba(243, 117, 33, 0.8);
  cursor: pointer;
}

.answer {
  font-family: "Spectral", serif;
  color: #184B6F;
  padding: 15px;
  display: none;
}

/*# sourceMappingURL=main.css.map */
