// COLORS

$pure-black: #000;
$pure-white: #fff;

$primary-color: #151B45;
$secondary-color: #184B6F;
$tertiary-color: #F37521;

$kapoenen-color: rgb(255, 223, 83);
$welpen-color: green;
$jonggivers-color: orange;
$givers-color:rgb(0, 0, 197);
$jins-color: rgb(182, 0, 0);
$leiding-color: purple;


// FONTS

$font-staatliches: 'staatliches', sans-serif;
$font-anton: 'Anton', sans-serif;
$font-spectral: 'Spectral', serif;

// MIXINS

@mixin image($max-width, $aspect-ratio) {
    border-radius: 10px;
    max-width: $max-width;
    aspect-ratio: $aspect-ratio;
    object-fit: cover;
    box-shadow: 0 0 25px $pure-black;
}

// CALENDAR

:root {
    --fc-button-bg-color: #184B6F;
    --fc-button-hover-bg-color: #151B45;
    --fc-button-active-bg-color: #151B45;

    --fc-button-active-border-color: #151B45;
    --fc-button-hover-border-color: none;
    --fc-button-border-color: none;

    --fc-today-bg-color:#f375211f;

    --fc-event-bg-color: #F37521;
    --fc-button-font-family: $font-spectral;
    // --fc-daygrid-event-dot-width: 5px;
  }

* {
    font-family: $font-staatliches;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $pure-white;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fc-event-title, .fc-event-time  {
    font-family: $font-spectral;
    letter-spacing: .5px;
    font-weight: normal;
}

.fc-toolbar-title {
    letter-spacing: 1px;
}