@use 'base' as *;

.main {
    height: 90vh;
    width: 100%;
    display: flex;

    &-text {
        padding-left: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $primary-color;
        width: 40%;
        height: 100%;

        &-prim {
            color: $primary-color;
            letter-spacing: 1px;
            font-size: 3rem;
            line-height: 4rem;
            font-variant: all-small-caps;

            span {
                font-variant: normal;
                color: $tertiary-color;
            }
        }

        &-sec {
            display: inline-block;
            line-height: 4rem;
            letter-spacing: 1px;
            font-size: 5rem;
        }

        &-par {
            margin-top: 1rem;

            &-paratext {
                text-align: justify;
            }

            p {
                margin: 0.5rem 0;
                font-family: $font-spectral;

                a {
                    text-decoration: none;
                    font-family: $font-spectral;
                    color: $tertiary-color;

                }

            }
        }
    }

    &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;

        img {
            border-radius: 10px;
            width: 60%;
            box-shadow: 0 0 25px $pure-black;

        }

        // &-indexpage {
        //     box-shadow: 0 0 25px $pure-black;
        // }

        &-kapoenen {
            outline: 7px solid $kapoenen-color;
            box-shadow: 0 0 50px $kapoenen-color;
        }

        &-welpen {
            outline: 7px solid $welpen-color;
            // box-shadow: 0 0 50px $welpen-color;

        }

        &-jonggivers {
            outline: 7px solid $jonggivers-color;
            // box-shadow: 0 0 50px $jonggivers-color;

        }

        &-givers {
            outline: 7px solid $givers-color;
            // box-shadow: 0 0 50px $givers-color;

        }

        &-jins {
            outline: 7px solid $jins-color;
            // box-shadow: 0 0 50px $jins-color;

        }

        &-leiding {
            outline: 7px solid $leiding-color;
            // box-shadow: 0 0 50px $leiding-color;

        }

    }
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-logocontainer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;

        &-logo {
            width: 20%;
        }
    }

    &-wrap {
        height: 80%;
        display: flex;

        &-imgcontainer {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;


            img {
                border-radius: 10px;
                width: 80%;
                box-shadow: 0 0 25px $pure-black;
            }
        }

        &-textcontainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 50%;

            &-text {
                padding: 1rem;
                width: 80%;
                font-family: $font-spectral;
            }
        }
    }
}

// TAKWERKING

.takwerking {
    padding: 5rem 10rem;
    display: flex;
    align-items: center;
    height: 90vh;

    &-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;

        &-head {
            color: $primary-color;
            letter-spacing: 1px;
            font-size: 3rem;
        }

        &-para {
            &-verhuur {
                // border: 1px solid red;
                margin-bottom: 1.5rem;
            }

            p {
                margin: 1rem 0;
                font-family: $font-spectral;
                line-height: 2rem;
                text-align: justify;

                a {
                    font-family: $font-spectral;
                    color: $tertiary-color;
                    text-decoration: none;
                }

                span {
                    font-weight: 900;
                    font-family: $font-spectral;
                    font-variant-caps: all-small-caps;
                    font-size: 1.5rem;
                    color: $primary-color;
                }


            }
        }
    }

    &-imggrid {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: flex-end;

        &-container {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;

            &-img {
                position: relative;
                width: 12rem;
                height: 12rem;
                margin: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $pure-white;
                transition: transform .2s cubic-bezier(0.83, 0, 0.17, 1);

                h1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    color: $primary-color;
                    font-size: 1.75rem;
                    background-color: rgb($pure-white, .6);
                    width: 50%;
                    height: 100%;
                    letter-spacing: 2px;
                    line-height: 2rem;
                    text-align: center;
                    opacity: 0;
                    transition: opacity .2s cubic-bezier(0.83, 0, 0.17, 1);

                }

                img {
                    width: 50%;
                }

                &:hover {
                    transform: scale(1.2);
                    transition: transform .2s cubic-bezier(0.83, 0, 0.17, 1);

                    h1 {
                        transition: opacity .2s cubic-bezier(0.83, 0, 0.17, 1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// Takken

.main {
    &-text {
        width: 40%;
        margin-left: 3rem;

        &-head {
            margin: 0.5rem 0;
            letter-spacing: 1px;
            font-size: 3rem;
        }

        .kapoenen {
            color: $kapoenen-color;
        }

        .welpen {
            color: $welpen-color;
        }

        .jonggivers {
            color: $jonggivers-color;
        }

        .givers {
            color: $givers-color;
        }

        .jins {
            color: $jins-color;
        }

        .leiding {
            color: $leiding-color;
        }

        &-para {
            width: 70%;
            color: black;
            font-family: $font-spectral;
            line-height: 2rem;
            text-align: justify;

            span {
                font-family: $font-spectral;
                color: $tertiary-color;
                letter-spacing: 1px;
            }
        }

        &-leiding {
            margin: 1rem 0;
        }
    }
}

// EVENTS

.events {
    width: 100%;

    &-small {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &-smallhead {
            font-family: $font-spectral;
            font-variant: all-petite-caps;
            font-weight: 900;
            letter-spacing: 5px;
            color: $tertiary-color;
        }
    }

    &-event {
        width: 100%;

        &-info {
            display: flex;
        }

        &-inforight {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &-upcoming {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &-header {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;

            &-head {
                font-size: 5rem;
                letter-spacing: 4px;
                color: $primary-color;
            }
        }

        &-text {
            padding: 12rem;
            width: 45%;
            height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;

            &-para {
                font-family: $font-spectral;
                text-align: justify;
            }
        }

        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55%;
            height: 75vh;

            img {
                border-radius: 10px;
                width: 65%;
                box-shadow: 0 0 25px $pure-black;

            }

        }
    }

    &-other {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &-header {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;


            &-head {
                font-size: 5rem;
                letter-spacing: 4px;
                color: $primary-color;
            }
        }

        &-text {
            padding: 12rem;
            width: 45%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            &-para {
                font-family: $font-spectral;
                text-align: justify;
            }
        }

        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55%;
            height: 90vh;

            img {
                border-radius: 10px;
                width: 60%;
                box-shadow: 0 0 25px $pure-black;

            }

        }
    }
}

// INSCHRIJVINGEN

.formulier {
    width: 60%;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin: 0rem auto;

    &-head {
        color: $primary-color;
        font-size: 3rem;
    }

    &-form {
        width: 40%;

        label {
            font-size: 1.2rem;
            color: $secondary-color;
            letter-spacing: 1px;
        }

        .lightlabel {
            font-size: 1rem;
            font-family: $font-spectral;
        }



        &-item {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;

            input {
                font-family: $font-spectral;
                font-size: 1rem;
                height: 2rem;
                padding-left: 0.5rem;

                &:focus {
                    border-color: $tertiary-color;
                }

            }

            .contactgegevens {
                width: 100%;
                display: flex;
                flex-direction: column;

                &-item {
                    display: flex;
                    flex-direction: column;
                    margin: 0.5rem 0 0;

                    label {
                        font-family: $font-spectral;
                    }

                    input{
                        width: 100%;
                    }
                }
            }
        }

        .geboortedatum {
            flex-direction: column;

            .datum {
                display: flex;
                justify-content: space-between;

                &-item {
                    width: 25%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: $font-spectral;
                    }
                }
            }

            input {
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }

        .woonplaats {
            display: flex;
            flex-direction: column;

            &-item {
                display: flex;
                flex-direction: column;
                margin: 0.5rem 0 0;


                &-last {
                    display: flex;
                    justify-content: space-between;

                    &-nrgm {
                        width: 45%;
                        display: flex;
                        flex-direction: column;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .social {
            label {
                font-size: 1.15rem;
            }

            &-answers {
                display: flex;

                select {
                    width: 100%;
                    font-family: $font-spectral;
                    font-size: 1rem;
                    height: 2rem;
                    padding-left: 0.5rem;
                }

                &-answer {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: .5rem 0 0;

                    &:hover input~.checkmark {
                        background-color: #ccc;
                    }

                    label {
                        margin: 0 .5rem;
                        font-size: 1.75rem;
                        font-variant: all-small-caps;
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        width: 1.3rem;
                        cursor: pointer;

                        &:checked~.checkmark {
                            background-color: $secondary-color;
                        }

                        &:checked~.checkmark::before {
                            content: '\2716'; // Unicode voor kruis
                            color: $pure-white;
                            font-size: 1.2rem;
                        }
                    }

                    .checkmark {
                        height: 1.5rem;
                        width: 1.5rem;
                        background-color: #aaa;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }    
                }
            }
        }

        button {
            width: 100%;
            height: 2.5rem;
            font-size: 1.2rem;
            color: $pure-white;
            background-color: $tertiary-color;
            border: none;
            transition: all .3s;


            &:hover {
                background-color: rgba($tertiary-color, .5);
                color: $pure-black;
                transform: scale(.98);
                transition: all .3s;
            }
        }
    }
}

// VERHUUR //

.verhuur {
    padding: 5rem 10rem;
    display: flex;
    align-items: center;
    height: 90vh;

    &-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;

        &-head {
            color: $primary-color;
            letter-spacing: 1px;
            font-size: 3rem;
        }

        &-para {
            &-verhuur {
                // border: 1px solid red;
                margin-bottom: 1.5rem;
            }

            p {
                margin: 1rem 0;
                font-family: $font-spectral;
                line-height: 2rem;
                text-align: justify;

                a {
                    font-family: $font-spectral;
                    color: $tertiary-color;
                    text-decoration: none;
                }

                span {
                    font-weight: 900;
                    font-family: $font-spectral;
                    font-variant-caps: all-small-caps;
                    font-size: 1.5rem;
                    color: $primary-color;
                }


            }
        }
    }

    &-imggrid {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: flex-end;

        &-container {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;

            &-img {
                position: relative;
                width: 12rem;
                height: 12rem;
                margin: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $pure-white;
                transition: transform .2s cubic-bezier(0.83, 0, 0.17, 1);

                h1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    color: $primary-color;
                    font-size: 1.75rem;
                    background-color: rgb($pure-white, .6);
                    width: 50%;
                    height: 100%;
                    letter-spacing: 2px;
                    line-height: 2rem;
                    text-align: center;
                    opacity: 0;
                    transition: opacity .2s cubic-bezier(0.83, 0, 0.17, 1);

                }

                img {
                    width: 50%;
                }

                &:hover {
                    transform: scale(1.2);
                    transition: transform .2s cubic-bezier(0.83, 0, 0.17, 1);

                    h1 {
                        transition: opacity .2s cubic-bezier(0.83, 0, 0.17, 1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}




.faq-container {
    min-height: 90vh;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    &.dimmed {
        .question {
            transition: all .2s ease-in-out;
            background-color: rgba($tertiary-color, .6);

        }
    }

    &.active {
        height: auto;

        .question {
            background-color: rgba($secondary-color, .8);

        }

        .answer {
            display: block;
        }
    }
}

.question {
    font-size: 1.2rem;
    padding: 15px;
    color: $pure-white;
    transition: all .3s ease-in-out;
    background-color: rgba($tertiary-color, .8);
    cursor: pointer;

}

.answer {
    font-family: $font-spectral;
    color: $secondary-color;
    padding: 15px;
    display: none;
}